@media all and (max-width: 768px) {
  .menu {
    width: 25%;
    height: auto;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    align-self: flex-start;
    padding-left: 15px;
  }

  .resume_link {
    top: 5px;
  }

  .menu .bar {
    width: 100%;
    /* align-self: flex-start; */
    text-align: left;
    /* display: inline-block; */
    display: none;
    /* order: 2; */

    /* border-right: 1px rgb(236, 211, 211) solid; */
  }

  .bars {
    order: 1;
  }

  .bar {
    order: 2;
  }

  .bar.active {
    display: block;
  }

  .toggle {
    display: block;
    cursor: pointer;
    /* order: 1; */
  }

  .bars {
    background: #999;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }

  .bars::before,
  .bars::after {
    background: #999;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
  }

  .bars::before {
    top: 5px;
  }
  .bars::after {
    top: -5px;
  }

  .toggle:hover {
    background: yellow;
  }

  .wrapper {
    flex-direction: column;
    width: 100%;
  }

  #profile-image {
    width: 100%;
  }
  #my-img {
    /* width: 80%; */
    height: auto;
    transform: rotate(0deg);
    box-shadow: 0 0 4px 1px black;
  }

  #story {
    width: 100%;
    text-align: center;
  }
  #story > p {
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    font-size: 20px;
    line-height: 2rem;
  }

  #skills {
    flex-direction: column;
    height: auto;
  }

  #skills .section-title {
    flex: 30%;
    /* margin-right: 15px; */
  }

  #skills .wrapper {
    flex: 70%;
    border: none;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .card-skill {
    margin-left: 0;
  }

  .view-height-full,
  .view-height-less {
    height: auto;
  }

  .row {
    flex-direction: column;
  }

  .designation {
    width: 100%;
  }
  .designation h4 {
    padding-left: 0;
    margin-left: 0;
  }

  .job-details {
    width: 100%;
  }

  .hr-image,
  .kuhs-image {
    width: 150px;
  }

  .job-description {
    padding-left: 15px;
  }

  .contact-form {
    margin-bottom: 20px;
  }

  .footer-info {
    flex-direction: column;
  }
  footer .photo-credits p,
  address {
    text-align: center;
  }
}

@media all and (max-width: 468px) {
  .view-height-full,
  .view-height-less {
    height: auto;
  }

  .job-details {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hr-image,
  .kuhs-image {
    margin: 0 auto;
    width: 80%;
    /* align-self: flex-start; */
    flex-grow: 1;
    /* padding: 10px; */
    /* background-color: brown; */
  }
}
