/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  color: white;
  letter-spacing: 1.5px;
  font-family: crystal, "Georgia", sans-serif, Times, serif;
  background-color: black;
}

h1 {
  font-size: 50px;
  margin: 5px;
  padding: 5px;
  color: #ffff00;
  font-weight: 800;
}

h2 {
  font-weight: 600;
  font-size: 42px;
  margin: 5px;
  padding: 5px;
}

h3 {
  font-weight: 400;
  font-size: 35px;
  margin: 5px;
  padding: 5px;
}

h4 {
  font-size: 25px;
  color: rgb(240, 235, 235);
  margin: 8px 5px 2px 5px;
  padding: 5px 2px 2px 5px;
  /* font-family: "Trocchi", serif; */
  font-weight: 300;
}

h5 {
  font-size: 20px;
  color: rgb(247, 247, 20);
  margin: 5px 5px 2px 5px;
  padding: 4px 4px 1px 4px;
  /* font-family: "Trocchi", serif; */
}

h6 {
  font-size: 16px;
  color: rgb(203, 203, 247);
  margin: 5px 5px 2px 5px;
  padding: 4px 4px 5px 5px;
}

p {
  margin: 5px 5px 2px 5px;
  padding: 4px 5px 5px 4px;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: #e7e5ee;
  transition: 1s;
  cursor: pointer;
}

a:hover,
a:visited,
a:active {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

a:hover {
  color: rgb(248, 248, 10);
}

.container {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.headline {
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid white;
}

.view-height-full {
  height: 100vh;
}

.view-height-less {
  height: 85vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.row {
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  /* opacity: 1; */
}

/* BODY SECTION */
#home-page {
  background-image: url(../images/amazing_background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%vw;
}

/* HEADER SECTION */

.header {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin: 0 auto;
  width: 100%;
  /* height: 100px; */
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /* z-index: 100; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-grow: 1;

  /* top: 0;
  left: 0; */
  background-color: white;
}

.menu {
  width: 50%;
  margin: 0 auto;
  padding-top: 8px;
  /* padding-bottom: 5px; */
  font-size: 15px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  font-weight: lighter;
  background: transparent;
  /* background-color: red; */
  /* top: 0;
  left: 0; */
  position: fixed;
  border-bottom: 1px rgb(49, 48, 48) solid;
}

.menu p {
  text-align: center;
}

.menu p a {
  display: inline-block;
  /* padding-left: 10px; */
}

.bar {
  /* width: 100%; */
  text-align: center;
  /* display: block; */
  width: auto;

  /* display: none; */
  /* order: 2; */

  /* border-right: 1px rgb(236, 211, 211) solid; */
}

.bars {
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle {
  display: none;
}

.resume_link {
  width: 200px;
  font-size: 16px;
  background-color: rgb(7, 7, 83);
  align-self: flex-end;
  position: relative;
  text-align: center;
  margin-right: 8px;
  /* margin-top: 70px; */
  top: 50px;

  padding: 10px;
  text-transform: capitalize;
  border-radius: 8px;
}

.my-statement {
  margin-top: 90px;
  margin-bottom: 20px;
}

#about {
  background-image: url(../images/patrick-hendry-x5GFGHgTgB4-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clear: both;
}

#profile-image {
  width: 35%;
  margin: 0 auto;
  padding: 10px;
}

#my-img {
  margin: 0 auto;
  width: 250px;
  height: auto;
  border-radius: 10px;
  /* border: 2px solid rgb(245, 245, 11); */
  box-shadow: -38px -38px 4px 4px #5f5250;
  transform: rotate(-20deg);
  transition: 0.5s ease-in-out;
  object-fit: contain;
}

#profile-image #my-img:hover {
  background-color: rgb(245, 245, 11);
  color: #f5f5f5;
  /* border-radius: 50%; */
  transform: rotate(0deg);
  box-shadow: 0 0 8px 2px black;
}

#story {
  width: 55%;
  text-align: left;
  padding: 15px 10px 15px 20px;
  /* border-radius: 5%; */
}

#story > p {
  word-spacing: 3px;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 25px;
  line-height: 3rem;
  color: rgb(245, 245, 11);
}

#story:hover {
  /* background-color: rgb(28, 28, 150); */
  background-color: black;
  color: #f5f5f5;
  transition: 1s;
}

#skills {
  background-image: url(../images/jakub-sofranko-QxO4eW3_cAw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#skills .section-title {
  flex: 40%;
  /* margin-right: 15px; */
}

#skills .wrapper {
  border-left: 1px solid rgb(60, 47, 48);
  /* box-shadow: -0.5px 0 10px 1px gray; */
  flex: 60%;
}

.card-skill {
  /* background-color: rgb(89, 89, 224); */
  /* background-color: #66cdaa; */
  /* background-color: #40e0d0; */
  /* width: 80%; */
  max-height: 40px;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  /* padding: 5px; */
  transition: 0.3s ease-in-out;

  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 0px;
  text-align: left;
  /* align-items: center; */
}

.skill-set {
  background-color: rgb(3, 3, 100);
  padding-left: 10px;
}

.card-skill img {
  object-fit: contain;
  width: 40px;
  max-height: 40px;
  overflow: hidden;
  background-color: #40e0d0;
  /* border-radius: 3px; */
}

.card-skill:hover {
  background-color: rgb(150, 144, 163);
  transform: scale(1.01);
}

#portfolio {
  background-image: url(../images/chris-henry-1-Mq2LbM1NQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.covid-image,
.weather-image,
.store-image {
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  width: 100%;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 8px 1px darkgray;
  margin: 0;
  padding: 0;
}

/* .covid-image {
  background-image: url(../images/Yug_covid_19.png);
} */

.covid-image a > img,
.store-image a > img,
.weather-image a > img {
  object-fit: contain;
  /* flex-shrink: 0;
  -webkit-flex-shrink: 0; */
  max-width: 100%;
  min-height: 100%;
  display: block;
}

/* .weather-image {
  background-image: url(../images/weather_dashboard.png);
} */

/* .store-image {
  background-image: url(../images/google_store_locator.png);
} */

#degrees {
  background-image: url(../images/traf-ukTd6UiQbLQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}
.project-description {
  width: 280px;
  height: auto;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
}

.project-description:hover {
  /* background-color: rgb(49, 47, 47); */
  background-color: #7e7676;
  transform: scale(1.01);
  cursor: pointer;
}

.project-image {
  background-color: #f5f5f5;
  width: 230px;
  height: auto;
  box-shadow: 0 0 8px 1px darkred;
  align-items: center;
}

.project-image img {
  max-width: 100%;
  min-height: 260px;
  object-fit: contain;
}

.project-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}

.small-font {
  font-size: 12px;
}

.user-story,
.project-tools {
  margin-top: 15px;
}

#worked {
  background-image: url(../images/akin-cakiner-nkUFXi0JSX8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.designation {
  text-align: left;
  flex-basis: 25%;
  align-self: flex-start;
}

.job-details {
  text-align: left;
  flex-basis: 75%;
  flex-wrap: no-wrap;
  /* height: 130px; */
  /* background-color: navy; */
  flex-grow: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
}

.job-description {
  /* align-self: flex-start; */
  flex-grow: 1;
  /* padding: 10px; */
  /* background-color: brown; */
}

.hr-image {
  background-image: url(../images/hrblock.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: slategray;
  /* align-self: center; */
  min-height: 100%;
}

.kuhs-image {
  background-image: url(../images/kuhs-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: slategray;
  /* align-self: center; */
  min-height: 100%;
  color: white;
}

/* .bga-image {
  background-image: url(../images/logo-for-bga.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: brown;
  align-self: flex-start;
  min-height: 100%;
  color: white;
} */

#contact {
  background-image: url(../images/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

#contact .section-title p a {
  color: gray;
}

#contact .section-title p a:hover {
  color: yellow;
}

form {
  margin: 0 auto;
  text-align: left;
  width: 65%;
  /* margin-left: 200px; */
  padding: 10px 10px 10px 25px;
  /* border-left: 1px solid rgb(197, 194, 194); */
}

input,
textarea {
  width: 100%;
  color: gray;
  display: block;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

button {
  width: 150px;
  height: auto;
  padding: 5px;
  border-radius: 4px;
  color: yellow;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: navy;
  outline: none;
  border: none;
  box-shadow: 0 0 4px gray;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: yellow;
}

.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  color: black;
  visibility: hidden;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.form-control.success input,
.form-control.success textarea {
  border-color: yellow;
}

.form-control.error input,
.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: gray;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.social_medias {
  width: 150px;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  /* float: right; */
}

.social_medias a {
  font-size: 20px;
  /* padding-right: 50px; */
  text-decoration: none;
  transition: 0.3s;
  color: gray;
}

.social_medias a:hover {
  transform: scale(1.1);
  color: rgb(247, 247, 6);
}

/* Footer Section */

footer {
  background-color: #1c0833;
  width: 80%;
  margin: 0 auto;
  height: auto;
  clear: both;
  position: sticky;
  border-top: 8px solid #7b6dbb;
  color: #777777;
  padding: 0px 0px 20px 0px;
}

footer h5 {
  color: #7664b6;
}

address {
  text-align: left;
}

footer .photo-credits p span,
footer .photo-credits p span a {
  color: darkgray;
}

.photo-credits {
  margin-top: 5px;
}

footer .photo-credits p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: left;
}
